# Ignore data and output folders
artifacts/

# Ignore .parquet files in lob_data but track the directory structure
lob_data/*.parquet
lob_data/**/*.parquet

# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.env
.venv

# Ignore VSCode workspace settings (optional)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db